html, body {
    margin: 0px;
    background-color: #bfdbfe;
    color: #eff6ff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #172554;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

button {
    color: #eff6ff;
}

#btn {
    height: 50px;
    width: 90px;

    background-color: #1e40af;
    border-style: none;
    border-radius: 15px;
}

#btn:hover {
    background-color: #1e3a8a;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 15px;
}

.card {
    background-color: #172554;
    border-radius: 10px;
    margin: 15px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.read {
    border-style: none;
    border-radius: 5px;
}

.del {
    height: 25px;
    width: 25px;

    background-color: #be123c;
    border-style: none;
    border-radius: 100%;

    align-self: flex-end;
}

#del:hover {
    background-color: #9f1239;
}

.popUp {
    position: absolute;
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;

    z-index: 10;
    background-color: #172554;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #1e40af;
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}