html, body {
    margin: 0px;
    background-color: #bfdbfe;
    color: #eff6ff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #172554;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#btn {
    height: 50px;
    width: 90px;

    background-color: #1e40af;
    border-style: none;
    border-radius: 15px;

    color: #eff6ff;
}

#btn:hover {
    background-color: #1e3a8a;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 15px;
}

.card {
    background-color: #172554;
    border-radius: 10px;
    margin: 15px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.del {
    height: 25px;
    width: 25px;

    background-color: #be123c;
    border-style: none;
    border-radius: 100%;

    color: #eff6ff;

    align-self: flex-end;
}

#del:hover {
    background-color: #9f1239;
}